body {
    margin: auto;
    position: relative;
    max-width: 1200px;
}

header {
    background-color: rgb(128, 229, 236);
    display: flex;
    padding: 2em;
    justify-content: space-between;
}

.card {
    margin: 1em;
    max-width: 800px;
}

.form-container {
    margin: 1em;
}

.form-group {
    width: 20em;
}